/**
 * JoomLine mp3 player - Joomla mp3 player
 *
 * @version 1.3.5
 * @package JoomLine mp3 player
 * @author Anton Voynov (anton@joomline.ru)
 * @copyright (C) 2010 by Anton Voynov(http://www.joomline.ru)
 * @license GNU/GPL: http://www.gnu.org/copyleft/gpl.html
 *
 * If you fork this to create your own project,
 * please make a reference to JoomLine someplace in your code
 * and provide a link to http://www.joomline.ru
 **/
div.jp-playlist-player {
	font-size:1.25em;
	font-family:Verdana, Arial, sans-serif;
	line-height:1.6;
	color: #333;
}
div.jp-interface {
	background-color:#F6F6F6;
	width:98%;
	height:auto;
	border:1px solid #009be3;
	border-bottom: none;
	list-style-type:none;
	padding:0;
	margin: 0;	
	overflow:hidden;

}

/**********************************************/
div.jlp-previous {
	position: relative;
	left: 50%;
	width:36px;
	height:40px;
	cursor: pointer;
	background: url("skin2.png") 0 -120px no-repeat;
}
div.jlp-previous:hover {
	background: url("skin2.png") -36px -120px no-repeat;
}

div.jlp-play {
	position: relative;
	left: 50%;
	width:36px;
	height:40px;
	cursor: pointer;
	background: url("skin2.png") 0 -40px no-repeat;
}
div.jlp-play:hover {
	background: url("skin2.png") -36px -40px no-repeat;
}

div.jlp-pause {
	position: relative;
	left: 50%;
	width:36px;
	height:40px;
	cursor: pointer;
	background: url("skin2.png") 0 0 no-repeat;
}
div.jlp-pause:hover {
	background: url("skin2.png") -36px 0 no-repeat;
}
div.jlp-stop {
	position: relative;
	left: 50%;
	width:36px;
	height:40px;
	cursor: pointer;
	background: url("skin2.png") 0 -200px no-repeat;

}

div.jlp-stop:hover {
	background: url("skin2.png") -36px -200px no-repeat;
}


div.jlp-next {
	position: relative;
	left: 50%;
	width:36px;
	height:40px;
	cursor: pointer;
	background: url("skin2.png") 0 -160px no-repeat;
}
div.jlp-next:hover {
	background: url("skin2.png") -36px -160px no-repeat;
}


div.jlp-volume-min {
	width:28px;
	height:27px;
	cursor: pointer;
	background: url("skin2.png") 0 -267px no-repeat;
}

div.jlp-volume-min:hover {
	background: url("skin2.png") -28px -267px no-repeat;
}

div.jlp-volume-max {
	width:28px;
	height:27px;
	cursor: pointer;
	background: url("skin2.png") 0 -240px no-repeat;
}

div.jlp-volume-max:hover {
	background: url("skin2.png") -28px -240px no-repeat;
}

/*********************************************/


div.jp-progress {
	overflow:hidden;
	background-color: #ddd;
	width:100%;
	height:15px;
}
div.jp-progress {
	left:145px;
}

div.jp-load-bar {
	background: url("skin2.png") 0 -294px repeat-x;
	width:0px;
	height:15px;
	cursor: pointer;
}
div.jp-play-bar {
	background: url("skin2.png") 0 -309px repeat-x ;
	width:0px;
	height:15px;
}


div.jp-volume-bar {
	position: relative;
	overflow:hidden;
	background: url("skin2.png") 0 -324px repeat-x;

	width:98%;
	height:5px;
	cursor: pointer;
}

div.jp-volume-bar-value {
	background: url("skin2.png") 0 -329px repeat-x;
	width:0px;
	height:5px;
}
div.jp-play-time,
div.jp-total-time {
	font-size:.64em;
	font-style:oblique;
	text-indent: 0px;
	text-align: center;
	
}



div.jp-playlist {
	width:98%;
	background-color:#E2E2E2;
	border:1px solid #009be3;
	border-top:none;
	font-size: 11px;
}

div.jp-playlist div{
	
	padding:5px 5px 5px 10px;

}
div.jp-playlist div:hover {
	color:#0d88c1;
	background-color: #eee;
	cursor: pointer;
}

div.jplayer_playlist_current {
	color:#0d88c1;
	font-weight: bold;
	text-indent: 5px;
	background-color: #eee;
}

